header>div>img[src] {
    width: 25px;
    height: 25px;
    vertical-align: bottom ;
}

header>span {
    font-weight: bold;
}

.country,
.country>i {
    font-weight: bold;
    color: white;
}

header {
    background-color: rgb(35, 47, 63);
    height: 30px;
}

footer {
    background-color: rgb(35, 47, 63);
    color: white;
    margin-top: 15px;
    height: 30px;
}

.feedback {
    float: left;
    width: 65%;
    word-spacing: 10px;
}


.services {
    width: 80%;
    float: left; 
    font-weight: bold;  
    color: white;
}