@import 'style-second.css';

body {
    background-color: lightgrey;
}

[src] {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: royalblue;
    vertical-align: top;
}

.managment-console {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 30px;
}

.aws-services {
    font-weight: bold;
    font-size: 20px;
}

.find-services {
    font-weight: bold;
    font-size: 15px;
}

.find-services>div {
    font-size: 12px;
    font-weight: 200;
    color: grey;
}

span {
    vertical-align: top;
}

input {
    width: 98%;
    background-color: white;
}

.appconfig {
    float: left;
    width: 24%;
}

.secrets-manager,
.cost-explorer,
.cloud-hsm,
.launch,
.build-using,
.build-web,
.register,
.websites,
.storage,
.databases,
.devops{
    float: left;
    width: 24%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

p {
    color: royalblue;
    font-weight: bold;
}

p>span,
div>span {
    font-weight: 100;
    color: grey;
}

.first-block,
.second-block,
.third-block {
    background-color: white;
    height: fit-content;
    margin-top: 15px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0); 
}

.first-block>div,
.second-block>div,
.third-block>div {
    margin-left: 5px;
}

.cloud-hsm {
    margin-left: 20px;
}

.first {
    width: 55%;
    float: left;
    margin-left: 100px;
}

.second {
    width: 30%;
    float: right;
    margin-right: 100px;
}

div.fifth-block>p {
    color: black;
}

i {
color: black;
}

.fourth-block,
.fifth-block,
.sixht-block {
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);  
}

a>i {
    color: royalblue;
}

div.fourth-block>div>p {
    color: black;
}

hr+p{
    color: black;
}

.fourth-block>div>p>a,
.third-block>div>span>a {
    font-weight: 200;
    color: royalblue;
}

.fifth-block,
.fourth-block>div:first-child,
.second-block>div:first-child,
.third-block>div:first-child {
    font-weight: bold;
}

.fourth-block>div>p,
.sixht-block>p {
    font-weight: 200;
    color: black;
}