td {
   width: 25px;
   height: 25px;
   }

table {
   box-shadow: 0px 0px 0px 15px rgba(10, 255, 1, 0.75);
   margin: 0 auto;
   margin-top: 50px;
}

tr:nth-child(odd) td:nth-child(even) {
   background: brown;
}

tr:nth-child(even) td:nth-child(odd) {
   background: brown;
}    