.me {
  width: 80px;
  height: 160px;
}

ol {
  font-size: 15px;
  font-family:'Architects Daughter', cursive ;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  border: solid rgba(139, 69, 19, 0.493);
  padding: 30px; 
  background-color: rgb(224, 217, 150);
}

ul { 
  width: fit-content;
  height: fit-content;
  border: 2px dotted;
  padding: 20px;
  color: rgb(151, 11, 69);
  list-style-type: square;
}

.job {
  width: 160px;
  height: 80px;
}

.name,
.contacts,
.summary,
.skills,
.code,
.experience,
.education,
.english {
  color: rgb(153, 55, 25);
}

.goal {
  color: rgb(187, 15, 15);
}

.mycode {
  color: rgb(0, 255, 21)
}

.author {
  color: #1766EA;
}

body {
  background-color: saddlebrown;
}

button {
  color: rgba(54, 26, 6, 0.911);
  background-color: rgb(206, 126, 72);
  font-weight: bold;
  border:rgba(54, 26, 6, 0.911);
  box-shadow: 2px 2px 2px 2px rgba(54, 26, 6, 0.911);
}