@import './styles/layout.css';

@import './styles/header.css';

@import './styles/main.css';

@import './styles/footer.css';

@import './styles/media.css';

@font-face {
  font-family: 'StMarie-Thin';
  src: url(./fonts/StMarie-Thin.otf);
}
