table {
    width: 1500px;
    border-collapse: collapse;
}

thead {
    background-color: white;
    border: solid 1px white;
}

.appamp {
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 70px;
}

.home,
.features,
.aboutus,
.help {
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: grey;
    text-align: center;
}

.getapp {
    text-align: right;
}

.getapp button {

    border: solid 1px blue;
    color: blue;
    font-style: normal;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 2px 1px rgba(43, 43, 192, 1);
    background-color: white;
}

.mobirise {
    font-style: normal;
    font-family: serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.pricing {
    font-style: normal;
    font-family: serif;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    color: grey;
}
.blankcell {
    height: 50px;
}

.starter {
    font-family: serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.user,
.pro {
    font-family: serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
}

.getacces {
    height: 100px;
    text-align: center;
    background-color: white;
}

.getacces button {
    width: 300px;
    height: 40px;
    font-weight: bold;
}

.gastarter button {
    background-color: rgb(43, 43, 192);
    color: white;
}

.gauser button,
.gapro button {
    border: 1px solid white;
    box-shadow: 0 0 2px 1px rgba(43, 43, 192, 1);
    color: rgb(43, 43, 192);
}

.month {
    height: 70px;
    font-size: 40px;
    font-weight: 600;
}

.month::after {
    content: 'month';
    font-size: 20px;
}

.who {
    font-weight: bold;
    height: 50px;
}

.blankcell2 {
    height: 40px;
}

.blankcell3 {
    height: 10px;
}

.blankcell4 {
    height: 50px;
}
.easy,
.quick,
.complete,
.stable {
    height: 40px;
    background-color: white;
}

.lorem {
    height: 70px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
}

.starter,
.monthstarter,
.bcstarter,
.whostarter,
.loremstarter {
    color: white;
    background-color: rgb(43, 43, 192);
}

.space,
.space2,
.space3 {
    width: 100px;
}

tbody {
    background-image: url('https://evg-crystal.ru/800/600/https/static8.depositphotos.com/1030463/1072/i/450/depositphotos_10720971-stock-photo-background-of-3d-blocks.jpg');
}

.lorem {
    border-bottom: 2px solid grey;
}

.user,
.pro,
.monthuser,
.monthpro,
.blankcell2,
.whouser,
.whopro,
.loremuser,
.lorempro,
.bcuser,
.bcpro {
    background-color: white;
}