footer {
  margin-top: 55px;
  height: 70px;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(250,156,7);
  font-family: 'StMarie-Thin', monospace;
  box-shadow: 0px 4px 0px 0px rgb(235, 147, 6);
}

.copyright {
  margin-top: 10px;
}