@import './header/navigation.css';

header {
  display: flex;
  justify-content: space-between;
}

.logo-cantainer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 107px;
}

.orange-rabbit {
  display: flex;
  flex-direction: column;
  margin-left: 47px;
  align-self: center;
}

.orange {
  font-family: serif;
  font-size: 37px;
  color:  rgb(251, 156, 6);
}

.rabbit {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  letter-spacing: 2px;
  color: #6E6D6B;
}
