
@media all and (max-width: 1500px) {
  
  body {
    grid-template-columns: 1fr 1500px 1fr;  grid-template-rows: 130px auto 70px;
    grid-template-areas:  ". header ."
                          ". main   ."
                          ". footer .";
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
  }
  
}

@media all and (max-width: 1440px) {
  
  body {
    grid-template-columns: 1fr 1440px 1fr;  
    grid-template-rows: 130px auto 70px;
    grid-template-areas:  ". header ."
                          ". main   ."
                          ". footer .";
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
  }

  button {
    margin: 20px 0;
  }
}

@media all and (max-width: 1024px) {

  .mobile {
    display: block;
    font-size: 60px;
    position: absolute;
    top: 10px;
    right: -350px;
    cursor: pointer;
    color: rgb(250,156,7);
  }

  nav {
    display: none;
    position: static;
    justify-content: none;
    width: 10%;
    margin-right: 120px;
    margin-top: 218px;
  }

  .menu {
    border: 3px solid  rgb(255, 169, 31);
  }


  header > input:checked ~ nav {
    display: flex;
    flex-direction: column;
  }


  .home-panel,
  .about-panel,
  .work-panel,
  .blog-panel,
  .contact-panel {
    width: 100px;
    height: 75px;
    z-index: 1;
    background-color: #FFFFFF;
    
  }

  .description-container {
    width: 40%;
  }
}

@media all and (max-width: 768px) {
  .mobile {
    right: -400px;
  }
}

@media all and (max-width: 425px) {
  .mobile {
    right: -900px;
  }

  nav {
    margin-right: 150px;
  }
}

@media screen and (max-width: 375px) {
  .mobile {
    right: 0;
  }

  body {
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: 130px auto 100px;
    grid-template-areas:  ". header ."
                          ". main   ."
                          ". footer .";
    background-color: rgb(241, 217, 178);
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
  }
  
  .general-description {
    flex-direction: column;
    align-items: center;
  }

  .description-container{
    width: 100%;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg-container {
      display: none;
    }

  form {
    margin: 0;
    }

  .orange-rabbit {
    display: none;
    }

  form > label > input,
  .message-filling {
    width: 50%;
  }

  footer {
    width: 100%;
    font-size: 20px;
  }

  button {
    margin: 20px 130px;
  }

  nav {
    margin-right: 70px;
  }
}

@media all and (max-width: 320px) {
  body {
    grid-template-columns: 1fr 320 1 fr;
  }

  nav {
    margin-right: 100px;
  }

  button {
    margin: 20px 135px;
  }

  footer {
    margin: 15px;
  }
}