img,
div:not(.lorem) {
    width: 250px;
    height: 250px;
}

div.relative {
    position: relative;
    width: 100%;
    height: 700px;
}

.first-cat {
    position: absolute;
    left: 50%;
}

.second-cat {
    position: absolute;
    top: 50px;
    left: 55%;
}

.third-cat {
    position: absolute;
    top: 100px;
    left: 40%;
}

.fouth-cat {
    position: absolute;
    top: 150px;
    left: 45%;
}

.first-cat:hover,
.second-cat:hover,
.third-cat:hover,
.fouth-cat:hover {
    z-index: 1;
}

.fifth-cat {
    position: fixed;
    top: 0;
    left: 80%;
    opacity: 0.5;
}