nav {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
  width: 40%;
  align-items: center;
}

.mobile,
input[type="checkbox"] {
  display: none;
}

.work,
.home,
.about,
.blog,
.contact {
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #636161;
}


.home-icon:hover,
.about-icon:hover,
.work-icon:hover,
.blog-icon:hover,
.contact-icon:hover {
  box-shadow: 0px 0px 1px 3px rgb(251, 156, 6);
}

.home-panel,
.about-panel,
.work-panel,
.blog-panel,
.contact-panel {
  text-align: center;

}


.home-home:hover,
.about-about:hover,
.work-work:hover,
.blog-blog:hover,
.contact-contact:hover {
  color: rgb(251, 156, 6);
}

a {
  text-decoration: none;
  color: #9E9B9B;
}

