header {
    width: 100%;
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.logo-conteiner {
    display: flex;
    width: 360px;
    justify-content: flex-start;
    margin-left: 2%;
}

.company-name,
.photography,
.style,
.fashion,
.info {
    font-size: 1.5em;
    align-self: center;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: 700;
}

.logo {
    width: 52px;
    height: 52px;
    align-self: center;
}

.photography,
.style,
.fashion,
.info {
    font-weight: 500;
}

.menu {
    display: flex;
    margin-right: 2%;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #f40000;
}

.mobile-menu,
.mobile-photography,
.mobile-fashion,
.mobile-style,
.mobile-info {
    display: none;
}

@media all and (max-width: 1000px) {
    .company-name {
        display: none;
    }

    .mobile-menu {
        display: inline-flex;
        color: black;
        font-weight: 600;
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    .photography,
    .fashion,
    .style,
    .info {
        display: none;
    }

    .menu {
        position: relative;
    }

    .mobile-all {
        width: 200px;
        height: 100px;
        border: 1px solid grey;
        position: absolute;
        top: 60px;
        right: 5px;
        background-color: rgb(255, 255, 255);
        opacity: 0;
        transition: opacity 0.5s linear 3s;
    }

    .mobile-menu:hover + .mobile-all {
    opacity: 1;
    }

    .mobile-photography,
    .mobile-fashion,
    .mobile-style,
    .mobile-info {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        font-family: sans-serif;
        align-items: center;
    }
}