.send-message {
  margin-top: 0px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'StMarie-Thin', monospace;
  margin-top: 58px;
  margin-left: 200px;
  font-size: 25px;
  color: rgb(251, 156, 6);
}

.email {
  margin-top: 36px;
}

.message {
  margin-top: 40px;
  display: flex;
}

form > label > input,
.message-filling {
  width: 76%;
  height: 25px;
  border-left: 4px solid lightgray;
  border-top: 2px solid lightgrey;
  border-bottom: none;
  border-right: none;
  background-color: rgb(248, 247, 245);
  color: rgb(250,156,7);
}

form > label > input:focus,
textarea:focus,
button:focus {
  outline: 1px solid rgb(250,156,7);
}

.name-filling {
  margin-left: 55px;
}

.email-filling {
  margin-left: 60px;
}

.message-filling {
  height: 83px;
  margin-left: 27px;
  resize: none;
}

button {
  width: 173px;
  height: 44px;
  margin-left: 993px;
  margin-top: 25px;
  background-color: rgb(250,156,7);
  color: white;
  font-size: 30px;
  font-family: 'StMarie-Thin', monospace;
  border: 1px solid rgb(250,156,7);
  box-shadow: 0px 4px 0px 0px rgb(235, 147, 6);
  cursor: pointer;
}