.general-description {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.description-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 25px;
  width: 20%;
}

.description {
  height: 135px;
  overflow: hidden;
  font-weight: 600;
}


input[type="checkbox"] {
  display: none;
}

.read-more:checked + .description {
  height: auto;
}

.read-more {
  margin-bottom: 5px;
  font-family: cursive;
  margin-bottom: 5px;
  color: rgb(251, 156, 6);
  font-weight: 400;
}

.meet-team,
.send-message {
  font-family: 'StMarie-Thin', monospace ;
  color: rgb(251, 156, 6);
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-top: 48px;
}

.image-container {
  display: flex;
  margin-top: 45px;
  justify-content: space-around;
}

figure > img[src] {
  width: 290px;
  height: 290px;
  border: 10px solid  rgb(251, 156, 6);
  border-radius: 50%;
  margin-top: 10px;
}

.person {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-top: -10px;
  }

.vacation {
  color: rgb(251, 156, 6);
}

figcaption {
  white-space: pre;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgb(91, 91, 91);
  overflow: hidden;
}

figure > img:hover {
  transform: scale(1.2);
  border-radius: 0%;
  border-color: #FFFFFF ;
}