.bg-container {
  height: 400px;
  background-image: url(../../images/big-orange-bg.png);
  background-size: cover;
  border-bottom: 4px solid rgb(251, 156, 6);
  border-top: 4px solid rgb(251, 156, 6);
  position: relative;
}

.like-rabbits,
.like-oranges {
  position: absolute;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding-left: 6px;
}

.like-rabbits {
  top: 130px;
  left: 218px;
  width: 376px;
  height: 60px;
  background-color: rgba(74, 78, 79, 0.8);
  color: rgb(251, 156, 6);
  padding-top: 6px;
}

.like-oranges {
  top: 220px;
  left: 210px;
  width: 388px;
  height: 66px;
  background-color: rgba(252, 199, 89, 0.7);
  color: rgb(82, 84, 84);
  padding-top: 10px;
}