.computer-name {
    width: 50%;
    margin-left: 100px;
}

.computer-programming {
    margin-left: 150px;
}

.computer-publication {
    margin-left: 120px;
}

.computer-text {
    width: 65%;
    height: 100px;
}

.mobile {
    display: none
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .computer {
        display: none;
    }

    .mobile {
        display: block;
    }
}